{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<h1>Hello {{ user.email }}</h1>
    <p>Vous avez l'id numéro {{ user.id }} et le role de</p>

{% endblock %}
