{% extends 'baseEmail.html.twig' %}
    {% block title %}Nouvelle série !
    {% endblock %}

{% block body %}
<h1>La nouvelle série : {{ program.title }} est arrivée !</h1>
<p>Bonjour, la nouvelle série : {{ program.title }} vient d'arriver dans Wild Séries !</p>
<p>Synopsis : {{program.synopsis }}</p>
{% endblock %}
