<form method="post" action="{{ path('comment_delete', {'id': comments.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comments.id) }}">
    <button class="btn">Delete</button>
</form>