{% extends 'base.html.twig' %}

{% block title %}All category{% endblock %}

{% block body %}
    <h1>Toutes les categories de la table category : </h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / {{ category.name }} </h2>
            <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la liste des séries</a>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
