<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% block title %}
                Nouveautés
            {% endblock %}
    <header>
        <h1>Il y a des nouveautés sur Wild Séries !</h1>
        <p>Des nouveautés ont été ajoutées sur votre site préféré, êtes-vous prêts
        à les découvrir ? Voici un aperçu de ce qu'il y a de nouveau :</p>
    </header>
    </head>
            <body>
                {% block body %}
                {% endblock %}
            </body>
</html>